@model TarefasAcademicas.UI.Models.RegisterViewModel
@{
	ViewBag.Title = "Registre-se";
}

<body class="bg-img">
	<div class="thumbnail  icon-position ">
		<div class="borda">
			<img style="padding-left: 29%" src="https://img.icons8.com/color/150/000000/add-user-male.png">

			@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<h4 style="text-align: center">Crie uma nova conta.</h4>
				<hr />
				@Html.ValidationSummary("", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					</div>
				</div>
				<button type="submit" class="btn btn-success width-full"><i class="fas fa-user-plus"></i> Registrar-se</button>

			}


		</div>
	</div>
	}
</body>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
