@{
	ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
<div class="container margin-page">
	<h1> Controle Geral: </h1>
	<div class="boxTarefas col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="text-center">
			<i class="fas fa-tasks fa-5x"></i>
		</div>
		<h3>
			Tarefas: @ViewBag.NumeroTotal
			<br/>
			<br/>
			<a href="@Url.Action("Index", "Tarefas")">Visualizar</a>
		</h3>
	</div>

	<div class="boxTarefasFora col-xs-12 col-sm-6 col-sm-offset-1 col-md-4  col-lg-2 col-lg-offset-1">
		<div class="text-center">
			<i class="far fa-calendar-times fa-5x"></i>
		</div>
		<h3>
			Fora do Prazo: @ViewBag.TotalFora
		</h3>
	</div>

	<div class="boxTarefasDentro col-xs-12 col-sm-6 col-sm-offset-1 col-md-4  col-lg-2 col-lg-offset-1">
		<div class="text-center">
			<i class="far fa-thumbs-up fa-5x"></i>
		</div>
		<h3>
			Dentro do Prazo: @ViewBag.TotalDentro
		</h3>
	</div>
	
	<div class="boxTarefasIgual col-xs-12 col-sm-6 col-sm-offset-5 col-md-4  col-lg-2 col-lg-offset-1">
		<div class="text-center">
			<i class="far fa-clock fa-5x"></i>
		</div>

		<h3>
			Último dia do Prazo: @ViewBag.TotalIgual
		</h3>
		</div>

	</div>

}
else
{
<body class="bg-img">
<div class="thumbnail  icon-position ">
		<img src="https://png2.kisspng.com/20180716/ytr/kisspng-project-management-computer-icons-e-commerce-tache-5b4cef53a71df9.7359980615317686596845.png" alt="...">
		<div class="caption ">
			<h3 class="text-center">Acessar Tarefas</h3>
			<p><a href="@Url.Action("Login", "Account")" class="btn btn-primary width-full" role="button">Acessar</a></p>
		</div>
</div>
</body>
}



