@using System.Web.UI.WebControls
@model TarefasAcademicas.DataAccess.Model.Tarefas


@{
	ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal margin-page">
	    <h3>Cadastro de Tarefas</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tarefa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tarefa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tarefa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
            </div>
        </div>

	    <div class="form-group">
		    @Html.LabelFor(model => model.DataFinal, htmlAttributes: new { @class = "control-label col-md-2" })
		    <div class="col-md-10">
			    @Html.EditorFor(model => model.DataFinal, new { htmlAttributes = new { @class = "form-control"}})
			    @Html.ValidationMessageFor(model => model.DataFinal, "", new { @class = "text-danger" })
		    </div>
	    </div>
		
	    <div class="form-group">
		    @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
		    <div class="col-md-10">
			    @Html.EditorFor(model => model.Categoria, new { htmlAttributes = new { @class = "form-control" ,@PlaceHolder = "Ex: Prova, DP"  } })
			    @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger"  })
		    </div>
	    </div>
		

	    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-primary"> <i class="fas fa-plus-circle"></i> Cadastrar</button>
            </div>
        </div>
    </div>
}

	<div>
		<a href="@Url.Action("Index", "Tarefas")" role="button" class="btn btn-danger"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
	</div>
