@using TarefasAcademicas.DataAccess.Model
@model TarefasAcademicas.DataAccess.Model.Tarefas

@{
    ViewBag.Title = "Details";
}

<h2 class="margin-page">Detalhes</h2>

<div>
	<hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarefa):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarefa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFinal):
        </dt>

	    <dd>
		    @Html.DisplayFor(model => model.DataFinal)
	    </dd>
		
	    <dt>
		    @Html.DisplayNameFor(model => model.Categoria):
	    </dt>

	    <dd>
		    @Html.DisplayFor(model => model.Categoria)
	    </dd>

    </dl>
</div>
<p>
	<a href="@Url.Action("Index", "Tarefas")" role="button" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> Voltar</a>

	<a href="@Url.Action("Edit", "Tarefas", new { id = Model.Id })" role="button" class="btn btn-warning"><i class="fas fa-edit"></i> Editar</a>

</p>
